body {
  font-family: Arial;
  font-size: 120%;
}

a {
  color: #563d7c;
  text-decoration: none;
  transition: color 0.1s;
}

a:hover {
  color: #8570a5;
}

button {
  display: inline-block;
  margin: 5px;
  cursor: pointer;
  font-size: 100%;
  background-color: #563d7c;
  border-radius: 5px;
  color: white;
  transition: background-color 0.1s;
  border: 2px solid #563d7c;
  padding: 16px 32px;
  text-align: center;
}

button:hover {
  background-color: #8570a5;
}

.choices button {
  display: block;
}

input[type="text"] {
  font-size: 100%;
}

ol {
  padding-left: 0px;
  max-height: 400px;
  overflow: auto;
}

.wrapper {
  margin: 100px auto 0 auto;
  max-width: 600px;
}

.hide {
  display: none;
}

.start {
  text-align: center;
}


.scores:hover {
  background-color: #8570a5;
  color: white;
}

.feedback {
  font-style: italic;
  font-size: 120%;
  margin-top: 20px;
  padding-top: 10px;
  color: gray;
  border-top: 2px solid #ccc;
}


